.todoList {
  padding: 3rem;
}
.todolistContainer {
  background-color: #fff;
  max-width: 48rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1 rem;
  box-shadow: 8px 4px 6px rgba(0, 0, 0, 0.1);
}
